.item-header {
    --padding-top: 30px;

    ion-label {
        font-size: 18px;
        font-weight: bold;
    }


}

ion-range {
    padding-left: 10px;
    padding-right: 10px;
    --bar-background: rgba(128, 128, 128, 0.281);
    --bar-background-active: var(--ion-color-success);
    --height: 20px;
    --knob-size: 5px;
}

.item-reorder {
    --min-height: 32px;
}

ion-footer {
    background: var(--ion-color-light);
}


.boton {

    width: 300px;
    height: 60px;

}
  /* Estilos por defecto para el modo claro */
  .calendar-content {
    padding: 10px;
    background-color: var(--ion-calendar-background-color); /* Fondo blanco en modo claro */
    color: var(--ion-calendar-text-color);
  
    ion-datetime {
      background-color: var(--ion-calendar-background-color); /* Fondo blanco para el ion-datetime en modo claro */
      color: var(--ion-calendar-text-color);
    }
  
    ion-button {
      --background: #ffffff; /* Fondo azul para el botón */
      --color: black; /* Texto blanco en el botón */
    }
  }
  