<ion-header>
  <ion-toolbar>
    <ion-title>{{ "SOBRENOSOTROS" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "QUIENESSOMOS" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ "QUIENESSOMOSTEXT" | translate }}
      </p>
      <ion-img src="assets/duoc_02-jpg.webp" alt="Grupo de estudiantes"></ion-img> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "NUESTRAMISION" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ "NUESTRAMISIONTEXT" | translate }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "NUESTROSVALORES" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li><strong>{{ "COMPROMISO" | translate }}</strong> {{ "COMPROMISOTEXT" | translate }}</li>
        <li><strong>{{ "INNOVACION" | translate }}</strong> {{ "INNOVACIONTEXT" | translate }}</li>
        <li><strong>{{ "EMPATIA" | translate }}</strong> {{ "EMPATIATEXT" | translate }}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  
</ion-content>

