
<ion-content class="contentcolor">
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="add-task-button" [routerLink]="['/index']"> <!-- Botón de Volver atrás -->
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br><br>
  <app-logo></app-logo>
  <div class="content">
    <h2 style="font-weight: bold; color: var(--ion-text-color);">{{ 'BIENVENIDO' | translate }}</h2>
    <br><br><br>
    <div class="d-flex-center">
      <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="ion-text-center">
        <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label='{{ "CORREO" | translate}}' icon="mail-outline"></app-custom-input>  
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.dirty">
          <div *ngIf="form.controls.email.errors?.['required']">{{ 'INGRESAEMAIL' | translate }}</div>
          <div *ngIf="form.controls.email.errors?.['email']" >{{ 'INGRESAVALIDEMAIL' | translate }}</div>
        </div>

        <app-custom-input [control]="form.controls.password" type="password" label='{{ "CONTRA" | translate}}' icon="lock-closed-outline"></app-custom-input>  
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.dirty">
          <div *ngIf="form.controls.password.errors?.['required']">{{ 'INGRESACONTRA' | translate }}</div>

        </div>
<br><br>
        <ion-button class="ion-margin-vertical ion-button-login" color="primary" [disabled]="form.invalid" type="submit" shape="round">
          {{ "INICIARSESION" | translate}}
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        <div class="sign-up">
          <a [routerLink]="['/forgot-password']">{{ "OLVCONTRA" | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>