ion-tabs {
  --background: var(--ion-color-primary); /* Fondo general de los tabs */
  --color: var(--ion-color-light); /* Color de los textos de las tabs */
}

ion-tab-bar {
  --background: var(--ion-color-primary); /* Fondo de la barra de tabs */
  --color-selected: var(--ion-color-light); /* Color de la tab seleccionada */
  --color: var(--ion-color-secondary); /* Color de las tabs no seleccionadas */
  padding: 0.5em 0; /* Espaciado vertical para el tab bar */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave debajo del tab bar */
  border-top-left-radius: 20px; /* Redondear la parte superior izquierda */
  border-top-right-radius: 20px; /* Redondear la parte superior derecha */
}

ion-tab-button {
  --color-selected: var(--ion-color-light); /* Color de la tab seleccionada */
  --background: transparent; /* Fondo transparente */
  transition: transform 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  padding: 10px; /* Espaciado en los botones */
}

ion-tab-button:hover {
  transform: scale(1.1); /* Agrandar el tamaño al pasar el mouse */
}

ion-icon {
  font-size: 28px; /* Tamaño de los íconos */
  transition: color 0.3s ease; /* Transición suave para el color del icono */
}

ion-tab-button[aria-selected="true"] ion-icon {
  color: var(--ion-color-light); /* Color del ícono en la tab seleccionada */
}
