<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"> <!-- Botón de Volver atrás -->
        <ion-icon name="arrow-back"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title> {{ "RECUPERARCONTRA" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-item>
    <ion-label position="floating">{{ 'CORREOELECTRONICO' | translate }}</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block" (click)="resetPassword()">{{ 'ENVIARCORREOREC' | translate }}</ion-button>
</ion-content>
