<ion-content class="config-menu-content">
  <ion-list lines="none">
    <!-- Sección de Menu -->
    <ion-item lines="full" class="config-divider">
      <ion-label color="medium">{{ 'MENU' | translate }}</ion-label>
    </ion-item>

    <!-- Sección de Navegación -->
    <ion-item button detail="false" [routerLink]="['/tabs/feriados']" (click)="closePopover()">
      <ion-icon color="primary" slot="start" name="calendar-outline"></ion-icon>
      <ion-label>{{ "FERIADOS" | translate }}</ion-label>
    </ion-item>

    <ion-item button detail="false" [routerLink]="['/tabs/about-us']" (click)="closePopover()">
      <ion-icon color="primary" slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>{{ "QUIENESSOMOS" | translate }}</ion-label>
    </ion-item>
  
    <!-- Sección de Configuración -->
    <ion-item lines="full" class="config-divider">
      <ion-label color="medium">{{ "AJUSTES" | translate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="primary" slot="start" name="moon-outline"></ion-icon>
      <ion-label>{{ 'MODOOSCURO' | translate }}</ion-label>
      <ion-toggle
        [(ngModel)]="darkMode"
        (ionChange)="setTheme(darkMode)"
      ></ion-toggle>
    </ion-item>

    <ion-item button detail="false">
      <ion-icon color="primary" slot="start" name="language-outline"></ion-icon>
      <ion-label>{{ 'IDIOMA' | translate }}</ion-label>
        <ion-select cancelText="cancel" placeholder="Selecciona" (ionChange)="changeLang($event)">
          <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- Sección de Cerrar Sesión -->
    <ion-item lines="full" class="config-divider">
      <ion-label color="medium">{{ 'CUENTA' | translate }}</ion-label>
    </ion-item>

    <ion-item button (click)="handleClick()" lines="none" color="danger">
      <ion-icon  slot="start" name="log-out-outline"></ion-icon>
      <ion-label>{{ 'CERRARSESION' | translate }}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
