.config-menu-content {
    --background: var(--ion-color-light);

  
    ion-list {
      padding: 10px;
  
      ion-item {
        border-radius: 8px;
        margin-bottom: 8px;
        --inner-padding-start: 12px;
  
        ion-icon {
          color: var(--ion-color-dark);
        }
  
        ion-label {
          font-weight: 500;
          color: var(--ion-color-dark);
        }
      }
  
      .config-divider {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        padding-top: 6px;
        padding-bottom: 2px;
  
        ion-label {
          color: var(--ion-color-medium);
        }
      }
  
      ion-item[color="danger"] {
        --ion-color-base: var(--ion-color-danger);
        --inner-padding-start: 12px;
  
        ion-label {
          font-weight: bold;
          color: var(--ion-color-light);
        }
  
        ion-icon {
          color: var(--ion-color-light);
        }
      }
    }
  }
  
  